.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.h1 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}

.link {
  border-bottom-style: dotted;
}
