.tabledata {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e5e7eb;
}

.tabledata .action {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.p6 {
  padding: 6px;
}

.link {
  display: inline-flex;
  justify-content: center;
}
